<tr>
  <td>
    <%= link_to bookmark.url, topic_bookmark_path(bookmark.topic, bookmark) %>
  </td>
  <td>
    <% if current_user %>
      <%= render partial: 'likes/like', locals: { bookmark: bookmark } %>
    <% end %>
  </td>
</tr>
